.carousel {
    display: flex;
    position: absolute;
    margin-top: 50%;
    margin-left: 18%;
    z-index: 10;
}

.carouselImg {
    width: 14vw;
}

.splide__arrow--prev {
    margin-left: -5vw;

}

.splide__arrow--next {
    margin-right: -5vw;
}

.splide__pagination__page {
    bottom: -2.5vw;
}


@media (max-width: 1000px) {
    .splide__arrow--prev {
        margin-left: -10vw;

    }

    .splide__arrow--next {
        margin-right: -10vw;
    }
}